<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>P2J Today</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>p2j</string>
			</array>
		</dict>
	</array>
	<key>P2JAppGroup</key>
	<string>$(P2J_APP_GROUP)</string>
	<key>P2JDeveloperTeam</key>
	<string>$(DEVELOPMENT_TEAM)</string>
</dict>
</plist>
